

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #1a2829; 
    --color-secundario: #D8EFD3;
    --color-terceario: #14dbf5;
    --color-hover: #408be0;
    --color-: #000000;
    --fuente-monserrat: 'Monserrat', sans serif;
    --fuente-krona: 'Krona One', sans serif;
    
}

*{
    padding: 10;
    margin: 0;
}
body{
    background-color: var(--color-primario); 
    color : var(--color-secundario); 
    box-sizing: border-box;
}
.header{
    padding: 2% 0% 0% 15%;

}
.header__menu {
    display: flex;
    gap: 80px;
    
    
}
.header__menu__link {
    font-size: 1.5rem;
    color: var(--color-terceario);
    font-family: var(--fuente-krona);
    font-weight: 600;
    text-decoration: none;

}

.header__menu__link:hover {
    color: #E8EFCF;
}


.presentacion{
    
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap:85px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);

}
.titulo-destaque{
    color: var(--color-terceario);;
}
.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);
    
}
.presentacion__contenido__textoB{
    font-size: 1.25rem;
    font-family: var(--fuente-monserrat);
    justify-content: space-between;
}

.presentacion__contenido__textoC{
    display: flex;
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);
    padding: 0% 0% 1% 0.5%;
    margin: 0%;
    
}
.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px; /*espacio entre los botones de enlaces*/
}
.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;

}
.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0; /*sirvio para que el boton sea mas grande
    y de esta manera no apriete las letras y elícono*/
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color:var(--color-secundario);
    border: 2px solid var(--color-terceario);;
    display: flex;
    justify-content: center;
    gap:16px;  /*para que separe*/

}
.presentacion__enlaces__link:hover{
    /*Este hover sirve cuando vamos con el mouse para ese lado*/
    cursor: pointer;
    background-color: var(--color-hover);
    border: 2px solid var(--color-terceario);;
    
}
.presentacion_imagen{
    width: 50%;
}
.footer{
    background-color: var(--color-terceario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400;
}
/*Para ajustar el tamaño de la pantalla este menos a 1200 en este caso cambie
su forma y se vea como una columba la imagen y no uno al lado de otro*/
@media (max-width: 1200px ){
    .presentacion{
        
        flex-direction: column;
    }
}
